/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

:root{
    --Paars: #5722CD;
    --Blauw: #4845E4;
    --Roze: #ED4385;
    /*voor standaard tekst*/
    --Zwart: #0C0C0C;
    /*voor de grote zwevende woorden, zoals "hello" en "services"*/
    --Lichtpaars: #F2F0FF;
    /*Uitzonderingen:*/
    /*voor de achtergrond van de projecten*/
    --Lichtgrijs: #F3F6F9;
    /*voor de service-tegel tekst*/
    --Grijs: #7A7A7A;
}

.ref-img{
    height: 640vh;
    width: 100vw;
    background-image: url("/src/assets/screenshots/basic/basic-desktop.png");
    /*background-image: url("/src/assets/screenshots/basic/basic-mobiel.png");*/
    background-size: 100%;
    background-blend-mode: multiply;
    position: absolute;
    opacity: 10%;
}

html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /*color: var(--Zwart);*/
}

/*@media (min-width: 40rem) {*/
/*    html { font-size: 112%; }*/
/*}*/

/*@media (min-width: 64rem) {*/
/*    html { font-size: 120%; }*/
/*}*/

/*body {*/
/*    background-color: #FAFAFA;*/
/*    color: #333333;*/
/*}*/

.container-outer{
    width: 100%;
    min-height: 100%;
    display: flex;

    /*border: 3px solid green;*/
}

.container-inner{
    width: 90%;
    margin: 0 auto;
    display: flex;

    /*border: 1px solid red;*/
}

/*@media (min-width: 1500px){*/
/*    .container-inner{*/
/*        width: 83rem;*/
/*    }*/
/*}*/

/* ------------------------------- 2. Typography ----------------------------------- */

/*Mobile*/
h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 26px;
    line-height: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

p{
    font-size: 15px;
    max-width: 30rem; /* for better readability */
}

a{
    margin: 0;
    text-decoration: none;
    color: var(--Paars);
}

@media (min-width: 1000px){
    h1 {
        font-size: 2.7rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3{
        font-size: 2rem;
        line-height: 3rem;
    }

    p{
        font-size: 1.2rem;
    }
}

/* ------------------------------- 3. Layout --------------------------------------- */



/* --------------- 3.1 Reusables ----------------------- */

.primary-bttn{
    height: 50px;
    width: 200px;
    background-color: var(--Roze);
    color: var(--Lichtgrijs);
    border-radius: 50px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: 0 9px 40px -4px rgba(0,0,0,0.4);
}



.secondary-bttn{
    color: var(--Paars);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

/* --------------- 4.1 Header ------------------------- */

header{
    height: 66vh;
    width: 100vw;
    color: var(--Lichtgrijs);
}


.header-container{
    background-color: var(--Paars);
    flex-direction: column;
    justify-content: space-between;
}


.navbar-container{
    justify-content: center;
}

nav .nav-items{
    height: 60px;

    display: flex;
    align-items: center;
    gap: 60px;
}

nav a{
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--Lichtgrijs);
}

.header-copy{
    margin-top: -50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-copy p{
    font-size: 21px;
}

.header-icon{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon-wave-stroke{
    height: 75px;
    width: 75px;

    background-image: url("/src/assets/squiggle_line_stripe.svg");
    background-size: cover;
}

/*//////////// MAIN SECTIONS ////////////*/
/*//////////// INTRO ////////////*/

.introduction-container{
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduction-container h3{
    color: var(--Paars);
    margin: 35px 0;
}

/*//////////// CASES ////////////*/
.cases-container{
    padding: 90px 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Lichtgrijs);
    gap: 45px;
}

.case-container{
    flex-direction: column;
    gap: 35px;
}

.case-container img{
    width: 100%;
    box-shadow: 0 9px 40px -4px rgba(0,0,0,0.4);
}

.case-container p{
    margin-bottom: 35px;
}

.icon-wave{
    height: 5px;
    width: 50px;
    margin: 35px 0;
    background-image: url("/src/assets/squiggle_line.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*//////////// SERVICES ////////////*/

.services-container{
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 90px;
    margin-bottom: 40px;
}

.card{
    height: 225px;
    width: 240px;
    /*flex-direction: column;*/
    /*justify-content: start;*/
    padding: 20px;
    border: 1px solid var(--Paars);
    box-shadow: 0 9px 40px -4px rgba(0,0,0,0.4);
    /*color: var(--Grijs);*/
}

.card p{
    font-size: 13px;
}

.card img{
    height: 60px;
    width: 60px;
}

/*//////////// FOOTER ////////////*/

footer{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*height: 90vh;*/
    background-color: var(--Paars);
    color: var(--Lichtgrijs);
}

.footer-container{
    flex-direction: column;
    align-items: center;
    margin: 95px 0;
}

footer h2{
    font-size: 26px;
}

footer p{
    margin-bottom: 45px;
}

/*input, textarea {*/
/*    outline: none;*/
/*}*/

form {
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inner {
    width: 100%;
    position: inherit;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}
.form-inner input,
.form-inner textarea {
    display: block;
    flex-shrink: 0;
    width: 100%;
    padding: 12px;
    margin-bottom: 30px;
    border: none;
    border-radius: 2px;
    background: var(--Lichtgrijs);
}
.form-inner textarea {
    height: 150px;
    /*resize: none;*/
}

.form-button{
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 150px;
    background-color: var(--Roze);
    color: var(--Lichtgrijs);
    border-radius: 25px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: 0 9px 40px -4px rgba(0,0,0,0.4);
}

.copyrights{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Zwart);
    color: var(--Lichtgrijs);
}







